@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-dark-cyan: hsl(185, 75%, 39%);
    --var-very-dark-blue: hsl(229, 23%, 23%);
    --var-dark-grayish-blue: hsl(227, 10%, 46%);
    --var-dark-gray: hsl(0, 0%, 59%);
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--var-dark-cyan);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
    font-size: 16px;
}

.bg-top {
    position: fixed;
    top: -100%;
    right: 50%;
    z-index: 9;
}

.bg-bottom {
    position: fixed;
    bottom: -100%;
    left: 50%;
    z-index: 9;
}

.container {
    width: 20.3em;
    min-height: 23.4em;
    background-color: white;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0.6rem 3rem var(--var-dark-gray);
}

.bg-card {
    width: 100%;
    margin-top: -12rem;
}

.card-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.perfil {
    margin-top: -3em;
    max-width: 100%;
    border: 5px solid white;
    border-radius: 50%;
}

.informacao-perfil {
    display: flex;
    justify-content: space-evenly;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.negrito {
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
}

.informacao {
    color: var(--dark-gray);
    font-size: 0.9rem;
    padding-top: 1.5rem;
}

.card-footer {
    position: absolute;
    bottom: 7%;
    display: flex;
    flex-flow: column wrap;
    border-top: 1px solid var(--var-dark-grayish-blue);
    width: 100%;
}

.copyright {
    position: fixed;
    align-self: flex-end;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    padding-bottom: 0.6rem;
    z-index: 10;
}

.copyright a {
    color: white;
    text-decoration: none;

}

.copyright a:hover {
    color: var(--var-very-dark-blue);
}